
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>SovaKnights</span>
      <span class="example-spacer"></span>
      <a routerLink="/home" routerLinkActive="active"><button mat-button color="accent">Home</button></a>
      <a routerLink="/about" routerLinkActive="active"><button mat-button color="accent">About</button></a>
      <a routerLink="/portfolio" routerLinkActive="active"><button mat-button color="accent">Portfolio</button></a>
      <a routerLink="/news" routerLinkActive="active"><button mat-button color="accent">News</button></a>
      <a routerLink="/store" routerLinkActive="active"><button mat-button color="accent">Store</button></a>
      <a routerLink="/home" routerLinkActive="active"><button mat-button color="accent">Contact</button></a>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<footer></footer>